___

<a href='https://sites.google.com/fat.uerj.br/livia'> <img src='../figures/capa2.png' /></a>
___

# Um Curso Rapido de Python

Preste atenção que esse texto não é uma introdução extensa da linguagem de programação Python. A idéia é introduzir os conceitos basicos de Python para usar posteriormente na analise de dados. 

Neste notebook vamos passar pelos topicos basicos na seguinte ordem:

* Tipo de Dados
    * Numeros
    * Strings
    * Exibir
    * Listas
    * Dicionarios
    * Booleans
    * Tuples 
    * Sets
* Operadores de Comparação
* `if`, `elif`, `else`
* `for` Loops
* `while` Loops
* `range()`
* list comprehension
* funções
* expressões de `lambda`
* `map` e `filter`
* métodos
____

## Tipe de dados

### Numeros

Podemos usar o python para fazer as operações matematicas normais igual qualquer calculadora.

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

Operador de restante da divisão.

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Criação de variaveis

Nome de uma variavel não pode começar com um carater especial. Não pode ter espaço entre os caraters. Não é necessario definir o tipo das variaveis na hora de definir. O Python vai descobrir isso na hora de executar.

In [13]:
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'aspas unicas'

'single quotes'

In [18]:
"aspas duplas"

'double quotes'

É um exemplo mostrando porque os dois tipo de *aspas* para definir um string.

In [19]:
" um exemplo que 'aspas unicas' e 'duplas' existem"

" wrap lot's of other quotes"

### Print

In [20]:
x = 'hello'

Só no Jupyter

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [3]:
num = 12
name = 'Sam'

In [4]:
print('Meu numero é: {um}, e meu nome é: {dois}'.format(um=num,dois=name))

Meu numero é: 12, e meu nome é: Sam

In [5]:
print('Meu numero é: {}, e meu nome é: {}'.format(num, name))

Meu numero é: 12, e meu nome é: Sam

No jupyter podemos usar `display` que as vezes tem um resultado esteticamente mais bonito do que `print`

In [1]:
display('hello')

'hello'

A partir de Python 3.6 temos string formatado

In [6]:

print(f'Meu numero é: {num}, e meu nome é: {name}')

Meu numero é: 12, e meu nome é: Sam

### Listas

Podemos guardar mais de uma informação em uma variavel. As listas são modificaveis e o conteudo pode ser alterado.

In [26]:
[1,2,3]

[1, 2, 3]

Uma lista pode guardar varios tipos de variaveis.

In [7]:
['oi',1,[1,2]]

['oi', 1, [1, 2]]

In [2]:
my_list = ['a','b','c']

Inserindo um elemento novo no final de uma lista

In [3]:
my_list.append('d')

In [4]:
my_list

['a', 'b', 'c', 'd']

Inserind um elemento novo em um lugar especifico da lista

In [5]:
my_list.insert(1, 'f')

my_list

['a', 'f', 'b', 'c', 'd']

Indexação de uma lista para acessar os seus elementos

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dicionarios

In [8]:
d = {'chave1':'item1','chave2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [10]:
d['chave1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

`False` e `True` podem ser somados! Ou seja, podem ser utilizados como 0 e 1 respectivamente.

In [6]:
False + True

1

In [7]:
False + False

0

In [8]:
True + True +True

3

Eles podem ser utilizados como operadores logicos. Posteriormente vamos utilizar eles para tomada de decisão.

In [9]:
True or False

True

In [10]:
True and False

False

### Tuples

Os Tuples são iguais a listas, só tem uma diferença grande! Os Tuples NÃO são modificaveis e depois da declaração não podem ser alterados

In [11]:
t = (1,2,3)

In [12]:
t[0]

1

In [13]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Os Sets não aceitam elementos repetidos e não tem ordenamento. Ou seja, não podemos extrair o conteudo via indexação

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

para obter os elementos unicos de uma lista podemos transforma-la em um set e depois para uma lista.

In [14]:
list_dup = [1,1,1,1,1,3,3,3,3,6,6,6]

set(list_dup)

{1, 3, 6}

In [15]:
list_not_dup = list(set(list_dup))
list_not_dup

[1, 3, 6]

## Operadores de comparação

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Operatores logicos

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

Para tomar uma decisão em diferentes condições usamos esses operadores

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [14]:
if 1 < 2:
    print('primeiro')
else:
    print('ultimo')

primeiro

In [15]:
if 1 == 2:
    print('primeiro')
elif 3 == 3:
    print('no meio')
else:
    print('ultimo')

no meio

## `for` Loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

O nome da variavel `item` é completamente arbitrario. Podemos escolher qualquer nome (permitido).

In [64]:
for carlos in seq:
    print(carlos+carlos)

2
4
6
8
10

Misturando `for` e `if`

In [26]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)
    if item > 3:
        break

1
2
3
4

## `while` Loops

Neste caso não há um limite na quantidade de iteração. O importante é satisfazer uma condição.

In [65]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

Podemos gerar os numeros pares (ou impares) usando `range`.

In [16]:
list(range(2,10,2))

[2, 4, 6, 8]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

Um modelo mais complexo com condição

In [18]:
num = range(20)

even = [x for x in num if x % 2 == 1]

even

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
num = range(20)

[x if x % 2 == 1 else 'No' for x in num ]

['No',
 1,
 'No',
 3,
 'No',
 5,
 'No',
 7,
 'No',
 9,
 'No',
 11,
 'No',
 13,
 'No',
 15,
 'No',
 17,
 'No',
 19]

## funções

A função mais simples possivel!

In [21]:
def simple():
    pass

In [25]:
simple

In [23]:
simple()

In [22]:
def simple1():
    print("Oi")

In [24]:
simple1()

Oi

In [17]:
def my_func(param1='default'):
    """
    Uma explicação sobre a função.
    """
    print(param1)

In [74]:
my_func()

default

In [75]:
my_func('novo param')

new param

In [18]:
my_func(param1='novo param')

novo param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## Expressões de `lambda`

quando temos uma operação simples e não vale a pena escrever uma função completa

In [29]:
def times2(var):
    return var*2

In [30]:
times2(2)

4

In [31]:
times3 = lambda var: var*3

In [33]:
times3(2)

6

## `map` e `filter`

`map` é para mapear uma função em uma lista na forma rapida. `filter` é para filtrar os elementos de uma iteravel baseado em uma condição.

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

é uma caractrtistica das linguagens orientado ao objeto

In [19]:
st = 'Oi! Meu nome é Vahid'

In [21]:
st.lower()

'oi! meu nome é vahid'

In [20]:
st.upper()

'OI! MEU NOME É VAHID'

In [22]:
st.split()

['Oi!', 'Meu', 'nome', 'é', 'Vahid']

In [23]:
tweet = 'Go Sports! #Sports'

In [24]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [25]:
d

{'chave1': 'item1', 'chave2': 'item2'}

In [26]:
d.keys()

dict_keys(['chave1', 'chave2'])

In [27]:
d.items()

dict_items([('chave1', 'item1'), ('chave2', 'item2')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Bom Trabalho!